 div{
   margin: 0 auto;
   text-align: center;
   margin-top: 10%;
 }

 div button{
   margin: 10px 20px;
   width: 10%;
   padding: 20px;
   border-radius: 10%;
   font-weight: bolder;
   background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
 }

 .info{
   margin: 0 auto;
   text-align: center;
 }

span{
  padding: 10px ;
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  width:200px ;
}